<div class="my-14 sm:my-18">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mb-4 mx-auto max-w-2xl lg:mx-0">
      <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">
        FEATURED PRESS
      </h2>
      <p class="mt-2 text-lg leading-8 text-gray-600">
        A collection of stories and highlights from our shoemaking journey. We
        hope you enjoy.
      </p>
    </div>
    <div
      class="py-10 mx-auto grid max-w-7xl grid-cols-1 gap-x-8 gap-y-12 px-6 sm:gap-y-16 lg:grid-cols-2 lg:px-8 border-t border-gray-200"
    >
      <article
        class="flex flex-col justify-center mx-auto w-full max-w-2xl lg:mx-0 lg:max-w-lg"
      >
        <time
          datetime="2023-08-08"
          class="block text-sm leading-6 text-gray-600"
          >August 8, 2023</time
        >
        <h2
          id="featured-post"
          class="mt-4 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl"
        >
          "Yapak Shoes: A Modern Twist to Timeless Craftsmanship"
        </h2>
        <p class="mt-4 text-lg leading-8 text-gray-600">
          In a captivating feature, Time Magazine celebrates Yapak Shoes as a
          beacon of modern elegance rooted in rich Filipino shoemaking heritage.
        </p>
        <div
          class="mt-4 flex flex-col justify-between gap-6 sm:mt-8 sm:flex-row-reverse sm:gap-8 lg:mt-4 lg:flex-col"
        >
          <div class="flex">
            <a
              href="#"
              class="text-sm font-semibold leading-6 text-indigo-600"
              aria-describedby="featured-post"
              >Continue reading <span aria-hidden="true">&rarr;</span></a
            >
          </div>
          <div class="flex lg:border-t lg:border-gray-900/10 lg:pt-8">
            <a
              href="#"
              class="flex justify-center items-center gap-x-2.5 text-sm font-semibold leading-6 text-gray-900"
            >
              <img
                src="./assets/images/press-time.webp"
                alt=""
                class="h-8 flex-none bg-cover bg-center"
              />
              <p class="px-3">TIME Magazine</p>
            </a>
          </div>
        </div>
      </article>
      <div
        class="mx-auto w-full max-w-2xl border-t border-gray-900/10 pt-12 sm:pt-16 lg:mx-0 lg:max-w-none lg:border-t-0 lg:pt-0"
      >
        <div class="-my-12 divide-y divide-gray-900/10">
          <article class="py-12">
            <div class="group relative max-w-xl">
              <time
                datetime="2021-03-03"
                class="block text-sm leading-6 text-gray-600"
                >March 3, 2021</time
              >
              <h2
                class="mt-2 text-lg font-semibold text-gray-900 group-hover:text-gray-600"
              >
                <a href="#">
                  <span class="absolute inset-0"></span>
                  "Yapak Shoes: Crafting Elegance From Marikina to New York"
                </a>
              </h2>
              <p class="mt-4 text-sm leading-6 text-gray-600">
                Yapak Shoes has successfully introduced Filipino craftsmanship
                to the global fashion capital, offering a harmonious blend of
                classic and contemporary designs that resonate with discerning
                New York fashion enthusiasts.
              </p>
            </div>
            <div class="mt-4 flex">
              <a
                href="#"
                class="flex justify-center items-center relative gap-x-2.5 text-sm font-semibold leading-6 text-gray-900"
              >
                <img
                  src="./assets/images/press-ny.png"
                  alt=""
                  class="h-8 flex-none bg-cover bg-center"
                />
                <p class="px-3">New York Magazine</p>
              </a>
            </div>
          </article>
          <article class="py-12">
            <div class="group relative max-w-xl">
              <time
                datetime="2022-05-05"
                class="block text-sm leading-6 text-gray-600"
                >May 5, 2022</time
              >
              <h2
                class="mt-2 text-lg font-semibold text-gray-900 group-hover:text-gray-600"
              >
                <a href="#">
                  <span class="absolute inset-0"></span>
                  "Marikina's Artistry Meets Global Fashion Through Yapak Shoes"
                </a>
              </h2>
              <p class="mt-4 text-sm leading-6 text-gray-600">
                WSJ dives into the world of Yapak Shoes, highlighting how
                Marikina's unrivaled shoemaking artistry shines on the global
                fashion stage. The brand's ability to seamlessly blend tradition
                with innovation has captivated fashion enthusiasts worldwide,
                making Yapak Shoes a beacon of heritage and trendsetting.
              </p>
            </div>
            <div class="mt-4 flex">
              <a
                href="#"
                class="flex justify-center items-center relative gap-x-2.5 text-sm font-semibold leading-6 text-gray-900"
              >
                <img
                  src="./assets/images/press-wsj.webp"
                  alt=""
                  class="h-8 flex-none bg-cover bg-center"
                />
                <p class="px-3">The Wall Street Journal</p>
              </a>
            </div>
          </article>

          <!-- More posts... -->
        </div>
      </div>
    </div>
  </div>
</div>
