<div class="gradient">
  <!-- partial:index.partial.html -->
  <div class="pt-40 pb-24">
    <div
      class="py-24 container px-3 mx-auto flex flex-wrap flex-col items-center"
    >
      <div
        class="flex flex-col w-full md:w-2/5 text-center md:text-left justify-center items-center"
      >
        <p
          class="my-4 text-xl leading-title text-white tracking-widest font-semibold"
        >
          TIMELESS ELEGANCE, FRESH CHARM
        </p>
        <div class="border-b border-gray-500 h-2 w-24 -ml-8 mb-4 -mt-2"></div>

        <div class="flex gap-10">
          <a href="/products/men">
            <button
              type="button"
              class="rounded-md bg-customButton px-3.5 py-2.5 text-sm shadow-sm bg-customButton:hover focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 tracking-widest self-center text-white customButton w-40"
            >
              SHOP MENS
            </button>
          </a>
          <a href="/products/women">
            <button
              type="button"
              class="rounded-md bg-customButton px-3.5 py-2.5 text-sm shadow-sm bg-customButton:hover focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 tracking-widest self-center text-white customButton w-40"
            >
              SHOP WOMENS
            </button>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
