<section aria-labelledby="cause-heading">
  <div class="relative bg-gray-800 px-6 py-32 sm:px-12 sm:py-40 lg:px-16">
    <div class="absolute inset-0 overflow-hidden">
      <img
        src="./assets/images/aboutStory.jpeg"
        alt=""
        class="h-full w-full object-cover object-center"
      />
    </div>
    <div
      aria-hidden="true"
      class="absolute inset-0 bg-gray-900 bg-opacity-50"
    ></div>
    <div class="relative mx-auto flex flex-col text-end">
      <h2
        id="cause-heading"
        class="text-3xl font-light tracking-widest text-white sm:text-4xl"
      >
        THE ART OF HANDCRAFTED SHOES
      </h2>
      <a href="/about" class="mt-8">
        <button
          type="button"
          class="rounded-md bg-customButton px-3.5 py-2.5 text-sm shadow-sm bg-customButton:hover focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 tracking-widest self-end text-white customButton"
        >
          READ OUR STORY
        </button>
      </a>
    </div>
  </div>
</section>
