<!--
  This example requires some changes to your config:
  
  ```
  // tailwind.config.js
  module.exports = {
    // ...
    plugins: [
      // ...
      require('@tailwindcss/aspect-ratio'),
    ],
  }
  ```
-->
<div class="bg-white">
  <div
    class="mx-auto max-w-7xl px-4 py-16 sm:px-6 sm:py-24 lg:px-8 text-center"
  >
    <div class="sm:flex sm:items-baseline sm:justify-center">
      <h2 class="text-4xl font-semibold text-gray-900 tracking-widest">
        SHOP BY CATEGORY
      </h2>
    </div>

    <div
      class="mt-11 grid grid-cols-1 gap-y-10 sm:grid-cols-3 sm:gap-x-6 sm:gap-y-0 lg:gap-x-8"
    >
      <div class="group relative">
        <div
          class="h-96 w-full overflow-hidden rounded-lg sm:aspect-h-3 sm:aspect-w-2 group-hover:opacity-75 sm:h-full"
        >
          <img
            src="./assets/images/categ-men.webp"
            alt="Model wearing women&#039;s black cotton crewneck tee."
            class="h-full w-full object-cover object-center"
          />
        </div>
        <h3 class="mt-4 font-semibold text-gray-900 text-2xl tracking-widest">
          <a href="#">
            <span class="absolute inset-0"></span>
            MENS
          </a>
        </h3>
      </div>
      <div class="group relative">
        <div
          class="h-96 w-full overflow-hidden rounded-lg sm:aspect-h-3 sm:aspect-w-2 group-hover:opacity-75 sm:h-full"
        >
          <img
            src="./assets/images/categ-custom.webp"
            alt="Model wearing women&#039;s black cotton crewneck tee."
            class="h-full w-full object-cover object-center"
          />
        </div>
        <h3 class="mt-4 font-semibold text-gray-900 text-2xl tracking-widest">
          <a href="#">
            <span class="absolute inset-0"></span>
            CUSTOM SHOE
          </a>
        </h3>
      </div>
      <div class="group relative">
        <div
          class="h-96 w-full overflow-hidden rounded-lg sm:aspect-h-3 sm:aspect-w-2 group-hover:opacity-75 sm:h-full"
        >
          <img
            src="./assets/images/categ-women.webp"
            alt="Model wearing women&#039;s black cotton crewneck tee."
            class="h-full w-full object-cover object-center"
          />
        </div>
        <h3 class="mt-4 font-semibold text-gray-900 text-2xl tracking-widest">
          <a href="#">
            <span class="absolute inset-0"></span>
            WOMENS
          </a>
        </h3>
      </div>

      <!-- More products... -->
    </div>
  </div>
</div>
<div class="bg-white">
  <div
    class="mx-auto max-w-7xl px-4 py-10 sm:px-6 sm:py-24 lg:px-8 text-center"
  >
    <div class="sm:flex sm:items-baseline sm:justify-center">
      <h2 class="text-4xl font-semibold text-gray-900 tracking-widest">
        SHOP BY PRICE
      </h2>
    </div>

    <div
      class="mt-11 grid grid-cols-1 gap-y-10 sm:grid-cols-3 sm:gap-x-6 sm:gap-y-0 lg:gap-x-8"
    >
      <div class="group relative">
        <div
          class="h-96 w-full overflow-hidden rounded-lg sm:aspect-h-3 sm:aspect-w-2 group-hover:opacity-75 sm:h-full"
        >
          <img
            src="./assets/images/price-2.webp"
            alt="Model wearing women&#039;s black cotton crewneck tee."
            class="h-full w-full object-cover object-center"
          />
        </div>
        <h3 class="mt-4 font-semibold text-gray-900 text-2xl tracking-widest">
          <a href="#">
            <span class="absolute inset-0"></span>
            P299 BELOW
          </a>
        </h3>
      </div>
      <div class="group relative">
        <div
          class="h-96 w-full overflow-hidden rounded-lg sm:aspect-h-3 sm:aspect-w-2 group-hover:opacity-75 sm:h-full"
        >
          <img
            src="./assets/images/price-5.webp"
            alt="Model wearing women&#039;s black cotton crewneck tee."
            class="h-full w-full object-cover object-center"
          />
        </div>
        <h3 class="mt-4 font-semibold text-gray-900 text-2xl tracking-widest">
          <a href="#">
            <span class="absolute inset-0"></span>
            P599 BELOW
          </a>
        </h3>
      </div>
      <div class="group relative">
        <div
          class="h-96 w-full overflow-hidden rounded-lg sm:aspect-h-3 sm:aspect-w-2 group-hover:opacity-75 sm:h-full"
        >
          <img
            src="./assets/images/price-8.webp"
            alt="Model wearing women&#039;s black cotton crewneck tee."
            class="h-full w-full object-cover object-center"
          />
        </div>
        <h3 class="mt-4 font-semibold text-gray-900 text-2xl tracking-widest">
          <a href="#">
            <span class="absolute inset-0"></span>
            P899 BELOW
          </a>
        </h3>
      </div>

      <!-- More products... -->
    </div>
  </div>
</div>
