<div class="relative bg-gray-800 px-6 py-36 sm:px-12 sm:py-52 lg:px-16">
  <div class="absolute inset-0 overflow-hidden">
    <img
      src="./assets/images/madeToOrder.jpeg"
      alt=""
      class="h-full w-full object-cover object-center"
    />
  </div>
  <div
    aria-hidden="true"
    class="absolute inset-0 bg-gray-900 bg-opacity-50"
  ></div>
  <div
    class="relative gap-5 mx-auto flex flex-col justify-center items-center text-end"
  >
    <h2
      id="cause-heading"
      class="text-center text-5xl font-light tracking-widest text-white sm:text-4xl"
    >
      MADE-TO-ORDER
    </h2>
    <p
      class="text-center text-sm font-light tracking-widest text-white sm:text-lg"
    >
      Handcrafted Just for You
    </p>
    <a href="/about" class="mt-8"> ] </a>
  </div>
</div>
